{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg"
                                   placeholder="Enter a valid email address" autocomplete="email" required autofocus>
                            <label class="form-label" for="inputEmail">Email </label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" name="password" id="inputPassword" class="form-control form-control-lg"
                                   placeholder="Enter password" autocomplete="current-password" required>
                            <label class="form-label" for="inputPassword">Mot de passe</label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <!-- Remember me -->

                        <button class="btn btn-lg btn-primary" type="submit">
                            Me connecter
                        </button>

                        <a href="{{ path('app_register') }}" class="btn btn-secondary mt-2"> M'inscrire</a>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
